<%= form_tag({},:id=>'table-it-form') do -%>
  <%= hidden_field_tag 'back_url', url_for(params) %>
  <div class="autoscroll">
    <table class="list issues sortable">
      <thead><tr>
          <th class="checkbox hide-when-print"><%= link_to image_tag('toggle_check.png'), {}, :onclick => 'toggleIssuesSelection(Element.up(this, "form")); return false;',
              :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
          </th>
          <%= content_tag('th', '#') %>
          <% query.columns.each do |column| %>
              <%= content_tag('th', column.caption)%>
          <% end %>
          <%if @cf%>
            <th><%=l(:time_left_hour)%></th>
          <%end%>
          <th><%=l(:label_spent_time_plugin)%></th>
          <th class="sorttable_nosort"><%=l(:add_time_column)%></th>
          <th class="sorttable_nosort"></th>
          <th class="sorttable_nosort"></th>
        </tr></thead>
      <% previous_group = false %>
      <tbody>
        <% issue_list(issues) do |issue, level| -%>
          <% if @query.grouped? && (group = @query.group_by_column.value(issue)) != previous_group %>
            <% reset_cycle %>
            <tr class="group open">
              <td colspan="<%= query.columns.size + 2 %>">
                <span class="expander" onclick="toggleRowGroup(this); return false;">&nbsp;</span>
                <%= group.blank? ? 'None' : column_content(@query.group_by_column, issue) %> <span class="count">(<%= @issue_count_by_group[group] %>)</span>
                <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}", "toggleAllRowGroups(this)", :class => 'toggle-all') %>
              </td>
            </tr>
            <% previous_group = group %>
          <% end %>
          <tr id="issue-<%= issue.id %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
            <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></td>
            <td class="id"><%= link_to issue.id, :controller => 'issues', :action => 'show', :id => issue %></td>

            <% query.columns.each do |column| %>
              <%if column.name == :subject%>
                <td class="<%=column.css_classes%>" >
                  <%if !issue.attachments.blank? %>
                    <div class="clip"></div>
                  <%end%>
                  <%if issue.status_id==1%>
                      <div class="status_<%=issue.status_id%> change-to-in-progress" id="<%=issue.id%>"></div>
                  <%else%>
                    <div class="status_<%=issue.status_id%>" id="<%=issue.id%>"></div>
                  <%end%>
				<% if User.current.allowed_to?(:edit_issues, issue.project) %>
                    <%if issue.progresstimes.blank? || issue.progresstimes.last.closed==true%>
                    <div class="start_time" value="<%=issue.id%>"></div>
                    <%else%>
                      <div class="stop_time" value="<%=issue.id%>"></div>
                      <%end%>
				<% end %>
                  <%=link_to(h(column.value(issue)),issue_url(issue) , :id => issue.id, :title=>"#{l(:field_description)}: #{issue.description} <br> #{l(:field_estimated_hours)}: #{issue.estimated_hours}<br> #{l(:field_author)}: #{issue.author}")%>
                </td>
              <%elsif column.name ==:done_ratio%>
                <%= content_tag 'td', column_content(column, issue), :class => column.css_classes,  :sorttable_customkey=>issue.done_ratio%>
              <%elsif column.name ==:priority%>
                <%= content_tag 'td', column_content(column, issue), :class => column.css_classes,  :sorttable_customkey=>issue.priority_id%>
              <%else%>
                <%= content_tag 'td', column_content(column, issue), :class => column.css_classes %>
              <% end %>
            <% end %>
            <%if @cf%>
              <td><%= begin ; time_left(issue, "end_time_field_name"); rescue ; issue.id ; end %></td>
            <%end%>
            <td><%=issue.spent_hours.round(2) %></td>
            <td>
              <%=hidden_field_tag 'id', issue.id%>
              <%=text_field_tag 'add_time' %>
              <%=link_to 'dodaj','javascript:void(0)', :class=>'addtimeclick'%>
            </td>
            <td><%if issue.author==User.current%><div class="poke" value="<%=url_for(:controller=>:plugin_app, :action=>:poke, :id=>issue.id)%>"></div><%end%></td>
            <td><%=link_to '', edit_issue_url(issue), :class=>'icon icon-edit'%></td>

          </tr>

        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>
