<%if User.current && User.current.type!='AnonymousUser'%>

  <% content_for :header_tags do %>
    <%= javascript_include_tag "jquery.qtip.js","table_it", 'sorttable', :plugin=>'table_it' %>
    <%= stylesheet_link_tag "table_it", :plugin=>'table_it' %>
  <% end %>

  <div class="contextual">
    <% if !@query.new_record? && @query.editable_by?(User.current) %>
      <%= link_to l(:button_edit), {:controller => 'queries', :action => 'edit', :id => @query}, :class => 'icon icon-edit' %>
      <%= link_to l(:button_delete), {:controller => 'queries', :action => 'destroy', :id => @query}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
    <% end %>
  </div>
  <div class="new_issue_plugin">
    <h2><%=link_to l(:label_issue_new), "javascript:void(0)", :id=>'new_issue_form_show'%></h2>
    <% html_title('New issue') %>
    <%=render :partial => 'new_issue'%>
  </div>
  <h2><%= @query.new_record? ? l(:label_issue_plural) : h(@query.name) %></h2>
  <% html_title(@query.new_record? ? l(:label_issue_plural) : @query.name) %>


  <div id="table-it-issue-list">
    <%= error_messages_for 'query' %>
    <% if @query.valid? %>
      <%= render :partial => 'filters' %>
      <% if @issues.empty? %>
        <p class="nodata"><%= l(:label_no_data) %></p>
      <% else %>
        <%= render :partial => 'list', :locals => {:issues => @issues, :query => @query} %>
        <p class="pagination"><%=will_paginate @issues %> <%=l(:label_per_page)%> <%=@limit==25 ? 25 : link_to("25", '?per_page=25')%> | <%=@limit==50 ? 50 : link_to("50", '?per_page=50')%> | <%=@limit==100 ? 100 : link_to("100", '?per_page=100')%></p>
        <ul id="legend">
          <%IssueStatus.find(1,2,3,4).each do |s|%>
          <li><div class="status_<%=s.id%>"></div><%=s.name%> </li>
          <%end%>
          <li><div class="clip"></div><%=l(:attachment)%></li>
          <li><div class="start_time"></div><%=l(:work_start)%></li>
        </ul>
      <% end %>
    </div>

  <% end %>
  <%= call_hook(:view_issues_index_bottom, { :issues => @issues, :project => @project, :query => @query }) %>

  <%= context_menu issues_context_menu_path %>

<%else%>
  <%= l(:label_please_login) %>
<%end%>