<%= form_for(Issue.new(tracker_id: 1), url: issues_path(format: :json), remote: true, html: {class: "home-new-issue-form", data: {success: l(:label_issue_added)} }) do |f| %>
<%= hidden_field_tag(:key, User.current.api_key) %>
<p>
  <%= f.label :project_id %>
  <%= f.select :project_id, options_from_collection_for_select(@projects, :id, :name), {}, data: {url: project_users_path(format: :js)} %>
  <%= link_to l(:label_project_new), new_project_url, :class=>'icon icon-add'%>
</p>
<p>
  <%= f.label :subject %>
  <%= f.text_field :subject %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description, rows: 6 %>
</p>
<p>
  <%= f.label :parent_issue_id %>
  <%= f.text_field :parent_issue_id, size: 10 %>
</p>
<%= javascript_tag "observeAutocompleteField('issue_parent_issue_id', '#{escape_javascript auto_complete_issues_path}')" %>
<p>
  <%= f.label :priority_id %>
  <%= f.select :priority_id, options_from_collection_for_select(IssuePriority.scoped, :id, :name) %>
</p>
<p>
  <%= f.label :tracker_id %>
  <%= f.select :tracker_id, options_from_collection_for_select(Tracker.scoped, :id, :name) %>
</p>
<p>
  <%= f.label :assigned_to_id %>
  <%= f.select :assigned_to_id, options_from_collection_for_select(@projects.first.try(:users) || [], :id, :name, @projects.first.try(:default_user_id)), include_blank: true %>
</p>

<p>
  <%- end_time_id = Setting.plugin_table_it[:end_time] -%>
  <%- cf = CustomField.where(id: end_time_id).first -%>
  <%= f.label :"custom_field_values_#{end_time_id}", (cf.try(:name) || l(:field_end_time)) %>
  <%= text_field_tag "issue[custom_field_values][#{end_time_id}]", '', size: 10 %>
</p>

<p>
  <%= f.label :due_date %>
  <%= f.text_field :due_date, size: 10 %>
  <%= calendar_for :issue_due_date %>
</p>
<p>
  <%= f.button l(:button_save) %>
  <%= f.button l(:button_clear), type: :reset %>
</p>
<% end %>