<div id="issue-topbar">
  <div id="subject">
    <div id="issue-subject">
      <h2><%= l('field_subject') %></h2>
      <h3><%= link_to "##{issue.id} - #{issue.subject}", issue_path(issue.id) %></h3>
    </div>
    <div id="issue-total-time">
      <h2><%= l('my.overall_time') %></h2>
      <p><%= "#{issue.spent_time}h" %></p>
    </div>
  </div>
  <div id="stop-work">
    <div class="stop-time"></div>
    <p id="time">
      <span><%= l('my.since_start') %></span>
      <span id="time-count"></span>
    </p>
  </div>
</div>
<div id="issue-desc">
  <h2><%= l('field_description') %></h2>
  <%= raw issue.description %>
</div>
<% if note %>
<div id="latest-com">
  <h2><%= l('my.latest_comment') %></h2>
  <p><%= raw note.notes %></p>
  <span><%= authoring(note.created_on, note.user) %></span>
</div>
<% end %>
