<div id="mypage-content">

  <div id="mypage-blocks">
    <div class="contextual">
        <%= link_to l(:label_personalize_page), :action => 'page_layout' %>
    </div>

    <h2><%= l(:label_my_page) %></h2>

    <div id="list-top">
      <% @blocks['top'].each do |b|
         next unless MyController::BLOCKS.keys.include? b  %>
      <div class="mypage-box">
        <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user } %>
      </div>
      <% end if @blocks['top'] %>
    </div>

    <div id="list-left" class="splitcontentleft">
      <% if User.current.ticking? %>
        <div id="mypage-task" class="mypage-box" data-start-time="<%= @start_time %>">
          <%= render partial: 'task', locals: { issue: @issue, note: @note } %>
        </div>
      <% else %>
        <% @blocks['left'].each do |b|
           next unless MyController::BLOCKS.keys.include? b %>
        <div class="mypage-box">
          <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user, :extra_issues => @extra_issues || [] } %>
        </div>
        <% end if @blocks['left'] %>
      <% end %>
    </div>

    <div id="list-right" class="splitcontentright">
      <% @blocks['right'].each do |b|
         next unless MyController::BLOCKS.keys.include? b %>
      <div class="mypage-box">
        <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user } %>
      </div>
      <% end if @blocks['right'] %>
    </div>

    <%= context_menu issues_context_menu_path %>
  </div>

</div>

<% html_title(l(:label_my_page)) -%>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'my_page', plugin: :table_it %>
  <%= stylesheet_link_tag 'my_page', plugin: :table_it %>
  <%= stylesheet_link_tag 'table_it', plugin: :table_it %>
<% end %>
